// Define desired color palettes.
@import 'custom-colors';
@import 'variables';
//@import "color-palette";
@import 'ember-paper';
@import 'paper-data-table';

.center-text {
	text-align: center;
}

.search-bar {
	margin: auto;
	width: 600px
}

.search-options {
	padding-top: 30px;
}

.search-options-column {
	margin-left: 25px;
	margin-right: 25px;
}

.search-table {
	margin: auto;
	border: 1px solid black;
}

.print-table {
	margin: auto;
	border: 1px solid black;
	width: 100%;
	margin-bottom: 20px;
}

.center-div {
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100px;
  height: 100px;
}

body > .ember-view {
  height: 100%;
}

/*.search-table td:not(:last-child)  {
	border-right: 1px solid black;
}*/

.ember-js-pdf__frame {
  height: 1200px;

}

.ember-js-pdf {
  width: 100%;
}

.print-button {
  margin-bottom: 20px;
}