$ae-blue: (
  '50': #e0e7ed,
  '100': #b3c3d1,
  '200': #809bb2,
  '300': #4d7393,
  '400': #26557c,
  '500': #003765,
  '600': #00315d,
  '700': #002a53,
  '800': #002349,
  '900': #001637,
  'A100': #6e96ff,
  'A200': #3b71ff,
  'A400': #084cff,
  'A700': #0041ee,
  'contrastDefaultColor': rgba(255, 255, 255, 0.87),
  'contrastDarkColors': ('50', '100', '200', 'A100', 'A200' ),
  'contrastLightColors': ('300', '400', '500', '600', '700', '800', '900', 'A400', 'A700' )
);
$ae-orange: (
  '50': #fdf1e0,
  '100': #fbddb3,
  '200': #f9c680,
  '300': #f6af4d,
  '400': #f49d26,
  '500': #f28c00,
  '600': #f08400,
  '700': #ee7900,
  '800': #ec6f00,
  '900': #e85c00,
  'A100': #ffffff,
  'A200': #ffe8dc,
  'A400': #ffc6a9,
  'A700': #ffb590,
  'contrastDefaultColor': rgba(255, 255, 255, 0.87),
  'contrastDarkColors': ('50', '100', '200', '300', '400', '500', '600', '800', 'A100', 'A200', 'A400', 'A700'),
  'contrastLightColors': ('900')
);
$ae-green: (
  '50': #ebf6e6,
  '100': #cde9c1,
  '200': #abda98,
  '300': #89cb6f,
  '400': #70bf50,
  '500': #57b431,
  '600': #4fad2c,
  '700': #46a425,
  '800': #3c9c1f,
  '900': #2c8c13,
  'A100': #cbffc0,
  'A200': #a0ff8d,
  'A400': #76ff5a,
  'A700': #61ff41,
  'contrastDefaultColor': rgba(255, 255, 255, 0.87),
  'contrastDarkColors': ('50', '100', '200', '300', '400', '500', '600', 'A100', 'A200', 'A400', 'A700' ),
  'contrastLightColors': ( '700', '800', '900' )
);
$ae-purple: (
  '50': #f8e7ea,
  '100': #edc2ca,
  '200': #e29aa7,
  '300': #d67284,
  '400': #cd5369,
  '500': #c4354f,
  '600': #be3048,
  '700': #b6283f,
  '800': #af2236,
  '900': #a21626,
  'A100': #ffd5d9,
  'A200': #ffa2ab,
  'A400': #ff6f7d,
  'A700': #ff5666,
  'contrastDefaultColor': rgba(255, 255, 255, 0.87),
  'contrastDarkColors': ('50', '100','200', '300', 'A100', 'A200', 'A400', 'A700'),
  'contrastLightColors': ('400', '500', '600', '700', '800', '900')
);
$warn-red: (
  '50': #ffebee,
  '100': #ffcdd2,
  '200': #ef9a9a,
  '300': #e57373,
  '400': #ef5350,
  '500': #f44336,
  '600': #e53935,
  '700': #d32f2f,
  '800': #c62828,
  '900': #b71c1c,
  'A100': #ff8a80,
  'A200': #ff5252,
  'A400': #ff1744,
  'A700': #d50000,
  'contrastDefaultColor': rgba(255, 255, 255, 0.87),
  'contrastDarkColors': ('50', '100', '200', '300', 'A100'),
  'contrastStrongLightColors': ('400', '500', '600', '700', 'A200', 'A400', 'A700')
)
