<table class="print-table">
  <thead>
    <th>Number</th>
	<th>title</th>
  </thead>
  <tbody>
    {{#each containers as |container index|}}
      <tr>
	    <td>{{container.number}}</td>
	    <td>{{container.title}}</td>
	  </tr>
	{{/each}}
  </tbody>
</table>

<div>
  {{#paper-button class="print-button" primary=true raised=true onClick=(action "print")}}Print{{/paper-button}}
  {{#paper-button class="print-button" raised=true onClick=(action "clearPrintQueue")}}Clear Print Queue{{/paper-button}}
  {{#paper-button class="print-button" raised=true onClick=(action "setData")}}Set Data{{/paper-button}}
</div>
{{js-pdf steps filename="container.pdf"}}