<table class="print-table">
  <thead>
    <th>Number</th>
	<th>title</th>
  </thead>
  <tbody>
    {{#each records as |record index|}}
      <tr>
	    <td>{{record.number}}</td>
	    <td>{{record.title}}</td>
	  </tr>
	{{/each}}
  </tbody>
</table>

{{#paper-button class="print-button" primary=true raised=true onClick=(action "print")}}Print{{/paper-button}}

{{js-pdf steps filename="record.pdf"}}