<table class="print-table">
  <thead>
    <th>Number</th>
	<th>title</th>
  </thead>
  <tbody>
    {{#each records as |record index|}}
      <tr>
	    <td>{{record.number}}</td>
	    <td>{{record.title}}</td>
	  </tr>
	{{/each}}
  </tbody>
</table>

<div>
  {{#paper-button class="print-button" primary=true raised=true onClick=(action "print")}}Print{{/paper-button}}
  {{#paper-button class="print-button" raised=true onClick=(action "clearPrintQueue")}}Clear Print Queue{{/paper-button}}
</div>

{{#if currentlyLoading}}
  <div class="layout-fill layout-align-start-center layout-column">
    {{paper-progress-circular accent=true diameter=40}}
  </div>
{{/if}}

{{#if showDialog}}
  {{#paper-dialog class="print-dialog" onClose=(action "closeDialog") clickOutsideToClose=true}}
	{{#paper-dialog-content}}
    {{#js-pdf steps filename="record.pdf" as |pdf|}}
      {{#paper-button primary=true raised=true onClick=(action pdf.save)}}Download PDF{{/paper-button}}
    {{/js-pdf}}
	{{/paper-dialog-content}}
  {{/paper-dialog}}
{{/if}}