<table class="print-table">
  <thead>
    <th>Number</th>
	<th>title</th>
  </thead>
  <tbody>
    {{#each records as |record index|}}
      <tr>
	    <td>{{record.number}}</td>
	    <td>{{record.title}}</td>
	  </tr>
	{{/each}}
  </tbody>
</table>

<div>
  {{#paper-button class="print-button" primary=true raised=true onClick=(action "print")}}Print{{/paper-button}}
  {{#paper-button class="print-button" raised=true onClick=(action "clearPrintQueue")}}Clear Print Queue{{/paper-button}}
</div>

{{#if showDialog}}
  {{#paper-dialog class="print-dialog" onClose=(action "closeDialog") clickOutsideToClose=true}}
	{{#paper-dialog-content}}
      {{js-pdf steps filename="record.pdf"}}
	{{/paper-dialog-content}}
  {{/paper-dialog}}
{{/if}}