{{#paper-card as |card|}}
  {{#card.title as |title|}}
    {{#title.text as |text|}}
      {{#text.headline}}Add classification{{/text.headline}}
    {{/title.text}}
  {{/card.title}}
  {{#card.content}}
    {{#paper-form onSubmit="submit" as |form|}}
      <div>
        {{form.input label="Name" value=name onChange=(action (mut name)) required=true}}
        {{#paper-checkbox checked=keyword value=keyword onChange=(action (mut keyword))}}
          Keyword?
        {{/paper-checkbox}}
        {{#form.submit-button raised=true primary=true disabled=form.isInvalid}}
          Submit
        {{/form.submit-button}}
      </div>
    {{/paper-form}}
  {{/card.content}}
{{/paper-card}}

{{#each classifications as |classification|}}
  {{listof-classification classification=classification}}
{{/each}}

{{outlet}}
