<script src="/scripts/jscolor.js"></script>
{{#paper-card as |card|}}
  {{#card.title as |title|}}
    {{#title.text as |text|}}
      {{#text.headline}}Create/Update{{/text.headline}}
    {{/title.text}}
  {{/card.title}}
  {{#card.content}}
    {{#paper-form onSubmit="submit" as |form|}}
      {{form.input label="Character" value=character onChange=(action (mut character)) maxlength=2 minlength=1 required=true}}
      <input id="valueInput" value="ab2567" onChange="setColor()" maxlength="6" required> <!-- Todo: add validation -->
      {{#paper-button class="jscolor {valueElement:'valueInput'}" raised=true mini=true}}{{/paper-button}}
      {{#form.submit-button raised=true primary=true disabled=form.isInvalid}}
        Submit
      {{/form.submit-button}}
    {{/paper-form}}
  {{/card.content}}
{{/paper-card}}

{{#paper-card as |card|}}
  {{#card.title as |title|}}
    {{#title.text as |text|}}
      {{#text.headline}}Results{{/text.headline}}
    {{/title.text}}
  {{/card.title}}
  {{#card.content}}
    {{#paper-list}}
      {{#paper-item }}
        <h4>Character</h4>
        <span class="flex" style="width:300px"></span>
        <div class="md-secondary-container">
          <h4>Color</h4>
          <span class="flex" style="width:60px"></span>
        </div>
      {{/paper-item}}

      {{#paper-divider}}{{/paper-divider}}

      {{#paper-item }}
        <p>A</p>
        <span class="flex" style="width:300px"></span>
        <div class="md-secondary-container">
          <p>FF3300</p>
          {{#paper-button raised=true mini=true}}{{#paper-icon "delete"}}{{/paper-icon}}{{/paper-button}}
        </div>
      {{/paper-item}}

      {{#paper-item }}
        <p>S</p>
        <span class="flex" style="width:300px"></span>
        <div class="md-secondary-container">
          <p>AB2567</p>
          {{#paper-button raised=true mini=true}}{{#paper-icon "delete"}}{{/paper-icon}}{{/paper-button}}
        </div>
      {{/paper-item}}

      {{#paper-item }}
        <p>17</p>
        <span class="flex" style="width:300px"></span>
        <div class="md-secondary-container">
          <p>2938AB</p>
          {{#paper-button raised=true mini=true}}{{#paper-icon "delete"}}{{/paper-icon}}{{/paper-button}}
        </div>
      {{/paper-item}}

      {{#paper-item }}
        <p>0</p>
        <span class="flex" style="width:300px"></span>
        <div class="md-secondary-container">
          <p>40AB3E</p>
          {{#paper-button raised=true mini=true}}{{#paper-icon "delete"}}{{/paper-icon}}{{/paper-button}}
        </div>
      {{/paper-item}}

      {{#paper-item }}
        <p>C</p>
        <span class="flex" style="width:300px"></span>
        <div class="md-secondary-container">
          <p>52AB75</p>
          {{#paper-button raised=true mini=true}}{{#paper-icon "delete"}}{{/paper-icon}}{{/paper-button}}
        </div>
      {{/paper-item}}
    {{/paper-list}}
  {{/card.content}}
{{/paper-card}}
{{outlet}}