{{#paper-card style="max-width:75%;" as |card|}}
  {{#card.title as |title|}}
    {{#title.text as |text|}}
      {{#text.headline}}Add Location{{/text.headline}}
    {{/title.text}}
  {{/card.title}}
  {{#card.content}}
    {{#paper-form onSubmit=(action "create") as |form|}}
      {{form.input label="name" value=newLocation onChange=(action (mut newLocation)) required=true}}
      {{form.input label="code" value=newCode onChange=(action (mut newCode)) required=true}}
      {{#paper-checkbox value=locked onChange=(action (mut locked))}} Locked? {{/paper-checkbox}}
      {{#form.submit-button raised=true primary=true disabled=form.isInvalid}}
        Submit
      {{/form.submit-button}}
    {{/paper-form}}
  {{/card.content}}
{{/paper-card}}


{{#paper-card class="layout-fill" as |card|}}

  {{#card.content}}
    <div class="layout-row layout-wrap">
      {{#each locationList as |location|}}
        <div class="layout-column flex-xs flex-gt-xs-50">
          {{listof-locations location=location userList=userList refreshRoute=(action "refreshRoute")}}
        </div>
      {{/each}}
    </div>
    {{#custom-data-table-pagination
      limit=pageSize
      limitOptions=limitOptions
      page=page
      pages=pages
      total=totalElements
      onChangePage=(action (mut page))
      onChangeLimit=(action (mut pageSize))
      onIncrementPage=(action 'incrementPage')
      onDecrementPage=(action 'decrementPage')}}
      {{/custom-data-table-pagination}}
  {{/card.content}}
{{/paper-card}}

{{outlet}}
