{{#paper-card class="layout-fill" as |card|}}
  {{#card.content}}
    <div class="layout-row layout-wrap">
  {{#each userList as |user|}}
    <div class="layout-column flex-xs flex-gt-xs-50">
      {{listof-users user=user locationList=locationList roleList=roleList refreshRoute=(action "refreshRoute")}}
    </div>
  {{/each}}
</div>
    {{#custom-data-table-pagination
      limit=pageSize
      limitOptions=limitOptions
      page=page
      pages=pages
      total=totalElements
      onChangePage=(action (mut page))
      onChangeLimit=(action (mut pageSize))
      onIncrementPage=(action 'incrementPage')
      onDecrementPage=(action 'decrementPage')}}
    {{/custom-data-table-pagination}}
  {{/card.content}}
{{/paper-card}}
{{outlet}}
