<h1>application.hbs</h1>

<u1>
  <li><a href="/">Home</a></li>
  <li><a href="/search">Search</a></li>
  <li><a href="/print">Print</a></li>
  <li><a href="/config">Config</a></li>
  <li><a href="/login">Login</a> </li>
</u1>
{{outlet}}