<h2>config.hbs</h2>

{{#link-to 'user' class="button"}}Configure Users{{/link-to}}
{{#link-to 'role' class="button"}}Configure Roles{{/link-to}}
{{#link-to 'location' class="button"}}Configure Locations{{/link-to}}

{{outlet}}