{{page-toolbar pageTitle="Configuration" isLayout=true store=store}}
<div style="width:100%;height:100%">

  {{config-nav}}
  {{#paper-card-content class="flex"}}
    <div class="layout-fill layout-align-start-center layout-column" >
      {{outlet}}
    </div>
  {{/paper-card-content}}
</div>