<div>
{{#paper-sidenav-container class="inner-sidenav"}}
  {{#paper-sidenav
    class="md-whiteframe-z2"
    name="config-main"
    lockedOpen=true
    onToggle=(action (mut leftSideBarOpen2))}}
    {{#paper-toolbar as |toolbar|}}
      {{#paper-toolbar-tools}}Configuration{{/paper-toolbar-tools}}
    {{/paper-toolbar}}
    {{#paper-button href="/config/color"}}Color{{/paper-button}}
    {{#paper-button href="/config/classifications"}}Classifications{{/paper-button}}
  {{/paper-sidenav}}

  {{#paper-card-content class="flex"}}
    <div class="layout-fill layout-align-start-center layout-column" style="height: 500px">
      {{outlet}}
    </div>
  {{/paper-card-content}}
{{/paper-sidenav-container}}
</div>