{{page-toolbar pageTitle="Configuration" isLayout=true}}
<div style="width:100%;height:100%">
{{#paper-sidenav-container style="height:1000px" class="inner-sidenav"}}
  {{#paper-sidenav
    class="md-whiteframe-z2"
    name="config-main"
    lockedOpen=true
    onToggle=(action (mut leftSideBarOpen2))}}
    {{#paper-toolbar as |toolbar|}}
      {{#paper-toolbar-tools}}Configuration{{/paper-toolbar-tools}}
    {{/paper-toolbar}}
    {{#paper-button href="/config/user"}}Users{{/paper-button}}
    {{#paper-button href="/config/role"}}Roles{{/paper-button}}
    {{#paper-button href="/config/color"}}Colors{{/paper-button}}
    {{#paper-button href="/config/location"}}Locations{{/paper-button}}
    {{#paper-button href="/config/classifications"}}Classifications{{/paper-button}}
    {{#paper-button href="/config/classhierarchy"}}Classification Hierarchy{{/paper-button}}
  {{/paper-sidenav}}

  {{#paper-card-content class="flex"}}
    <div class="layout-fill layout-align-start-center layout-column" >
      {{outlet}}
    </div>
  {{/paper-card-content}}
{{/paper-sidenav-container}}
</div>