{{#paper-toolbar}}
  <div class="md-toolbar-tools">
    <h2>
      {{#paper-sidenav-toggle class="menu-sidenav-toggle"}}
        {{paper-icon icon="menu"}}
      {{/paper-sidenav-toggle}}
      Home
    </h2>
  </div>
{{/paper-toolbar}}
<h2>new home layout, welcome home</h2>
{{outlet}}