{{page-toolbar pageTitle="Home" isLayout=true}}
<h2>Overview</h2>

<p>
  Ember Paper's layout features provide sugar to enable developers to more easily create modern,
  responsive layouts on top of CSS3 flexbox. The layout API consists of a set of classes
  that can be applied to any of your application's HTML content.
</p>