{{page-toolbar pageTitle="Home" isLayout=true}}
<h2>Overview</h2>

<p>
  Homepage that will display various things like charts, graphs and other stuff as required.
  The side navigation to the left has 3 options (for now) has
  Homepage
  Configuration
  Print
</p>