<div class="layout-row layout-align-center-center">
  <div class="flex-45">
<md-card id="ember779" class="ember-view paper-card" >
  <md-toolbar id="ember779" class="ember-view paper-toolbar md-default-theme">
  {{#paper-toolbar tall=true warn=true}}
    <span class="flex"></span>
    {{#paper-toolbar-tools}}
      <h2>Welcome Back</h2>
    {{/paper-toolbar-tools}}
  {{/paper-toolbar}}
</md-toolbar><md-card-content id="ember502" class="ember-view paper-card-content">
  {{#paper-form onSubmit=submit as |form|}}
    <div class="layout layout-sm-column layout-align-center">
      {{paper-input class="flex-40" label="E-mail" type="email" value=email onChange=(action (mut email))}}
    </div>
    <div class="layout layout-sm-column layout-align-center">
    {{paper-input class="flex-40" label="Password" type="password" value=password onChange=(action (mut password))}}
  </div>
    <div class="layout-row layout-align-center">
      {{#form.submit-button raised=true primary=true}}Login{{/form.submit-button}}
      {{#paper-button href="/img/aelogo.png" raised=true onClick=signup}}Signup{{/paper-button}}
      {{#paper-button href="/img/aelogo.png" raised=true onClick=signup}}Forgot Password{{/paper-button}}
    </div>
  {{/paper-form}}
</md-card-content>
</md-card>

  </div>
</div>
{{outlet}}