{{page-toolbar pageTitle="Print" isLayout=true store=store}}

{{print-nav}}

{{#paper-content class="md-padding"}}
  <div class="layout-fill layout-align-start-center layout-column flex">
    {{outlet}}
  </div>
{{/paper-content}}