<h3> Configure Role </h3>

<div>
{{#each model as |role|}}
  <ul>
    {{role.name}} <button>Change Role Name</button>
    <div>
      <span>Admin permission</span> <checkbox>{{role.adminPermission}}</checkbox>
    </div>
    <div>
      <span>Print permission</span> <checkbox>{{role.printPermission}}</checkbox>
    </div>
    <div><button>show users</button></div>
    <div>
      <span>List of users</span>
       <ul>
         <li>user1<button>remove user</button></li>
         <li><button>add user</button></li>
       </ul>
    </div>
    <div>
      <span><button>Delete Role</button></span>
    </div>
  </ul>
{{/each}}

  <button>Add role</button>
</div>

<button>Cancel</button>
<button>Save</button>


{{outlet}}